In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# df=pd.read_csv('titanic.csv')
df=sns.load_dataset('penguins')

In [15]:
df.isnull().sum()

species              0
island               0
bill_length_mm       2
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
dtype: int64

In [14]:
df['sex'].fillna(df['sex'].mode()[0], inplace=True)

In [30]:
a=df[['sex']]

In [32]:
pd.get_dummies(a).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sex_Female  344 non-null    bool
 1   sex_Male    344 non-null    bool
dtypes: bool(2)
memory usage: 820.0 bytes

In [35]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first')

In [37]:
b=ohe.fit_transform(a).toarray()

In [41]:
pd.DataFrame(b, columns=['sex_Male'])

     sex_Male
0         1.0
1         0.0
2         0.0
3         1.0
4         0.0
..        ...
339       1.0
340       0.0
341       1.0
342       0.0
343       1.0

[344 rows x 1 columns]